@model IEnumerable<dappersample2018.Core.Entities.Employees>

@{
    ViewBag.Title = "Index";
}
@if (TempData["resp"] != null)
{
    <script>
        alert('@TempData["resp"]');
    </script>
}
<h2>Employee - List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table width="1000">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireDate)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @if (item.BirthDate.HasValue)
                {
                    @item.BirthDate.Value.ToShortDateString()
                }
            </td>
            <td>
                @if (item.HireDate.HasValue)
                {
                    @item.HireDate.Value.ToShortDateString()
                }
            </td>
            <td>
                <input type="submit" value="修改" class="btn btn-default" onclick="SetID(@item.EmployeeID,'Edit')"/>
            </td>
            <td>
                <input type="submit" value="刪除" class="btn btn-default" onclick="SetID(@item.EmployeeID,'DeleteData')"/>
            </td>
        </tr>
    }
</table>
@using (Html.BeginForm("", "", FormMethod.Post, new { ID = "SubForm"}))
{
    @Html.Hidden("ID")
}
<script src="~/Scripts/Employee/employee.js"></script>